[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
statsmodels = "*"
prophet = "*"
plotly = "*"
scikit-learn = "*"
tensorflow = "*"
holidays = "==0.10.3"

[dev-packages]

[requires]
python_version = "3.9"
